body {
  padding: 50px;
  background: black;
}

.zones {
  margin-top: 75px;
}

.panel {
  padding: 40px 20px 40px 20px;
  text-align: center;
  font-size: 64px;
  font-weight: bold;
  letter-spacing: 6px;
  background: #ccc;
}

.panel-large {
  padding: 50px;
}

.panel-zone {
  border: 20px solid #ccc;
}

.blue {
  color: #fff;
  background-color: #0080FF;
}

.button_blue {
  border-color: #0080FF;
}

.gold {
  color: #000;
  background-color: #FFC800;
}

.button_gold {
  border-color: #FFC800;
}

.none {
  color: #000;
  background-color: #ccc;
}

.button_none {
  border-color: #ccc;
}

.down {
  color: #fff;
  background-color: red;
}

.button_down {
  border-color: red;
}

.bar {
  height: 20px;
  background: #ccc;
  padding: 0px;
  border: 0px;
  display: none;
}

.progress {
  width: 0%;
  background: red;
}
